.body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    text-align: center;
    border: rgb(193, 224, 224);
    border-style: solid;
    border-width: 5px;
    background-image: linear-gradient(to top, #c3ced4 0%, #e2ebf0 100%);
    border-radius: 10px;
    max-width: 450px;
    height: 500px;
    margin-top: 70px;
    margin-left: 20px;  
    font-family: 'Klee One', cursive;
}
form {
    margin-top: 20px;
}

input {
    padding: 5px;
    border-radius: 5px;
    color: grey;
    margin-left: 5px;
}

.city {
    color: rgb(100, 99, 99);
    font-family: 'Klee One', cursive;
    margin-top: 40px;
}

h3 {
      color: gray;
      font-size: 25px;
  }

li {
    list-style: none;
}

.elements {
    margin-bottom: 50px;
}

p {
    text-align: left;
    margin-top: 0px;
    margin-left: 30px;
}